html{
    box-sizing: border-box;
}

* ,*::after,*::before{
    box-sizing: inherit;
}

ol,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}
body{
    margin: 0;
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

